### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/dist

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

### Go Patch ###
/vendor/
/Godeps/

# IntelliJ paths
.idea

/backmeup

# Exclude actual config - we got the config.sample.yml for this
config.yml

# Exclude compiled binaries
backmeup_*-*

# Exclude archive files
*.zip
*.tar.gz